{{ partial "nextprev.html" . -}}
{{ partial "taglist.html" . -}}
<br><br><br>
</article>
</main>
<br>
<footer>
	<a href="{{ .Site.BaseURL }}" class="home-link-footer">Home</a><br><br><br>
	<a href="/index.xml"><img src="/rss.svg" id="rss-img" alt="RSS Feed" title="Subscribe via RSS for updates."></a>
</footer>
<br><br>
<script>
	function showTheme() {
  // Check Local Storage then apply dark theme if it's active
}

function showContent() {
  document.body.style.visibility = 'visible';
  document.body.style.opacity = 1;
}

window.addEventListener('DOMContentLoaded', function () {
  showTheme();
  showContent();
});
</script>
</body>
</html>