{{ partial "header.html" . -}}


<article class="container">
    <article class="grid-temp" >
      <h2 class="item1">About Me</h2>
      <figure  class="item3"><img src="img/profile.webp"id="main-img" alt="Picture of me"></figure>
        <p class="item2">This is my personal website. I plan to write about random things I'm interested in and post them here.</p>
        <ul class="item4"><h3>My hobbies include</h3> 
          <li>Bitcoin</li>
          <li>Astrophotography</li>
          <li>Programming</li>
          <li>Guitar</li>
          <li>Economics</li>
        </ul>
    </article><br><br>
  <h2 class="index-header">Recent Articles</h2> 
{{ .Content -}}
<ul class="list">
{{- range.Pages }}
	<a href="{{ .RelPermalink }}"><li class="list-item">{{ singularize .Title }} &ndash; <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 02 2006" }}</time></li></a>
{{ end -}}
</ul>
<br><br>
<h2 class="index-header">Articles by tag</h2>
<br>
<div class="tagcloud taglist">
    {{ if ne (len $.Site.Taxonomies.tags) 0 }}
      {{ $largestFontSize := 1.4 }}
      {{ $smallestFontSize := 1.0 }}
      {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
      {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
      {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
      {{ $spread := sub $max $min }}
      {{ $fontStep := div $fontSpread $spread }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          {{ $tagCount := len $taxonomy.Pages }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
          {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
            <a href='{{ "/tags/" | relURL }}{{ $name | urlize }}' 
            class="tagcloud-item">
              {{ humanize $name }}<sup>{{ $tagCount }}</sup>
            </a>
        {{ end }}
    {{ end }}
</div>
<br><br>
</article>
{{- partial "footer.html" . }}
